<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 text-center"></div>
    <div class="col-lg-2 text-center">
      <p><a href="https://scholar.google.co.in/citations?user=eBOYthEAAAAJ&hl=en"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.co.in/citations?user=eBOYthEAAAAJ&hl=en">Google Scholar</i></a></p>
    </div>
    <div class="col-lg-2 text-center">
      <p><a href="https://anshuiisc.github.io/"><i class="fa fa-file-powerpoint-o fa-3x"></i></a></p>
      <p><a href="https://anshuiisc.github.io/">Talks</i></a></p>
    </div>
    <div class="col-lg-4 text-center"></div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1>2017</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Model-driven Scheduling for Distributed Stream Processing Systems</strong></h2>
          <em>A. Shukla</em>, Y. Simmhan<br />
          (Article under Review)
          <a href="https://arxiv.org/abs/1702.01785">[link]</a><a href="https://github.com/anshuiisc/Storm-CustomScheduler">[GitHub]</a>
        </li>

        <li class="entry">
          <h2><strong>RIoTBench: A Real-time IoT Benchmark for Distributed Stream Processing Platforms</strong></h2>
          <em>A. Shukla</em>, S. Chaturvedi and Y. Simmhan<br />
          Concurrency and Computation: Practice and Experience, 2017
          <a href="https://arxiv.org/abs/1701.08530">[link]</a><a href="https://github.com/dream-lab/riot-bench">[GitHub]</a>
        </li>

      </ul>

      <h1>2016</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Benchmarking distributed stream processing platforms for iot applications</strong></h2>
          <em>A. Shukla</em>, Y. Simmhan<br />
          Technology Conference on Performance Evaluation and Benchmarking, pp 90-106, 2016
          <a href="https://link.springer.com/chapter/10.1007/978-3-319-54334-5_7">[link]</a><a href="https://github.com/anshuiisc/bm-iot">[GitHub]</a>
        </li>

      </ul>

      <h1>2015</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Benchmarking Fast-Data Platforms for the Aadhaar Biometric Database</strong></h2>
          Y. Simmhan, <em>A. Shukla</em>, A. Verma<br />
          Workshop on Big Data Benchmarks (WBDB), pp 21-39, 2015
          <a href="https://link.springer.com/chapter/10.1007/978-3-319-49748-8_2">[link]</a><a href="https://github.com/anshuiisc/Aadhar-uidaiBenchmark">[GitHub]</a>
        </li>

        <li class="entry">
          <h2><strong>Characterizing Distributed Stream Processing Systems for IoT Applications</strong></h2>
          <em>A. Shukla</em>, T. Sharma, Y. Simmhan<br />
          International Conference on High Performance Computing Workshops (HiPCW), pp 61-61, 2015
          <a href="http://dl.acm.org/citation.cfm?id=2919306">[link]</a>
        </li>
      </ul>

      <!--<h1>Thesis</h1>-->
      <!--<ul style="list-style-type: none">-->

        <!--<li class="entry">-->
          <!--<h2><strong>Computer-aided diagnosis for prostate cancer using multi-parametric magnetic resonance imaging</strong></h2>-->
          <!--<em>G. Lemaitre</em>, J. Freixenet, P.M. Walker, F. Meriaudeau, and R. Marti-->
          <!--PhD at Universitat de Girona-ViCOROB and Universite de Bourgogne-LE2I, 2016-->
          <!--<a href="https://github.com/glemaitre/phd_thesis/blob/master/thesis.pdf">[GitHub]</a><a href="https://github.com/glemaitre/presentation_phd/blob/master/presentation.pdf">[presentation]</a>-->
        <!--</li>-->


        <!--<li class="entry">-->
          <!--<h2><strong>Valorisation of Computorised Technology in the Health Care Sector</strong></h2>-->
          <!--<em>G. Lemaitre</em>, A. Bikfalvi, and J. Llach-->
          <!--Master in Science Business Innovation and Technology Management (BITM), 2014-->
          <!--<a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpWXpHQnRMdjJCNTg/edit?usp=sharing">[manuscript]</a><a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpeGxvNEV3cmxPUlU/edit?usp=sharing">[presentation]</a>-->
        <!--</li>-->

        <!--<li class="entry">-->
          <!--<h2><strong>Absolute Quantification in 1H MRSI of the Prostate at 3T</strong></h2>-->
          <!--<em>G. Lemaitre</em> and P.M. Walker-->
          <!--Master in Science Vision and roBOTic (ViBOT), 2011-->
          <!--<a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpUk5jc3o5Y0l1RTQ/edit?usp=sharing">[manuscript]</a><a href="https://drive.google.com/file/d/0B-DJ98-Q1GtpZHVIeUVMeUZPdnM/edit?usp=sharing">[presentation]</a>-->
        <!--</li>-->

      <!--</ul>-->

    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
